%div{:"ng-app" =>"console"}

	%div{:"ng-controller" => "AppCtrl"}

		%ui-codemirror.code-here{:"ng-model" => "tests", :"ui-codemirror-opts" => "editorOptions"}

		%ui-codemirror.code-here{:"ng-model" => "command", :"ui-codemirror-opts" => "editorOptions" }
		

		%div
			%button{:"ng-click" => "submitCommand($event)"} Submit!

		%div
			{{results.summary_line}}



			{{results}}


			%ul
				%li{:"ng-repeat" => "example in results.examples"}
					{{example.full_description}}

