%div{:"ng-app" =>"console"}

	%div{:"ng-controller" => "AppCtrl"}


		%textarea{:"ng-model" => "tests"}

		%textarea{:"ng-model" => "command"}
		

		%div
			%button{:"ng-click" => "submitCommand($event)"} Submit!

		{{results}}